__pycache__/
.idea/

opti_combi_projet_pythoncode_texte.py
*.pyc
solution.txt
solution_julia.txt
best_parameter_johan.txt

# Ignorer les dossiers __pycache__ (générés par Python)
__pycache__/

# Ignorer les fichiers créés par les IDE
.vscode/
.idea/

# Ignorer les fichiers temporaires
*.pyo
*.pyd
*.log

